@import '../variables';

.creation-fav-btn {
  font-family: 'Bangers';
  background-color: white;
  outline: none;
  border-radius: 0  0 20px 20px;
  font-size: 2em; 
  padding: 1%;
  margin: 18% 0 0 0;
  cursor: pointer;
  box-shadow: 0 3px black;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.creation-fav-btn:hover {
  @include mainBtnHover();
}

.creation-fav-btn:active {
  @include mainBtnActive();
}

.creation-header {
  height: 10vh;
}

.creation-title {
  @include mainTitles();
  text-align: center;
}

.build-btn {
  @include mainBtn();
  margin: 15%;
}

.build-btn:hover {
  @include mainBtnHover();
}

.build-btn:active {
  @include mainBtnActive();
}

.creation-zone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.team-name-label {
  margin: 10% 0 0 0;
  color: white;
  font-size: 2em;
}

.team-name-input {
  width: 30%;
  font-size: 2.5em;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 3px black;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 0 2% 0 2%;
  width: 220px;
  justify-content: center;
}

.member-inputs {
  display: flex;
  margin: 5% 0 0 0;
  font-size: 2em;
  width: 100%;
  justify-content: center;
}

.member-label {
  font-size: 1em;
  color: white;
  text-align: center;
}

.member-input {
  width: 15rem;
  height: 2rem;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 3px black;
}
