.Home {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../Assets/main-bg.jpeg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-title {
  color: white;
  font-size: 60px;
  text-shadow: 3px 3px black;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin: -5% 0 20% 0;
}

.instruction-box {
  height: 30rem;
  background-color: white;
  border-radius: 10px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.95;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.instructions-title {
  font-size: 30px;
}

.instructions {
  font-size: 20px;
  width: 80%;
  line-height: 3rem;
}

.create-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Bangers';
  background-color: white;
  width: 11rem;
  height: 4rem;
  outline: none;
  border-radius: 20px;
  font-size: 1.5em; 
  margin: 3% 0 0 0;
  cursor: pointer;
  box-shadow: 0 3px black;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.create-btn:hover {
  background-color: rgb(237,48,75);
  color: white;
}

.create-btn:active {
  color: white;
  background-color: rgb(237,48,75);
  box-shadow: 0 0px black;
  transform: translateY(3px);
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}


