@import '../variables';

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-title {
  @include mainTitles();
  margin: -5% 0 20% 0;
  text-align: center;
}

.instruction-box {
  height: 30rem;
  background-color: white;
  border-radius: 10px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.95;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.instructions-title {
  font-size: 30px;
}

.instructions {
  margin: 0;
  font-size: 20px;
  width: 80%;
  line-height: 3rem;
}

.create-btn {
  @include mainBtn();
}

.create-btn:hover {
  @include mainBtnHover();
}

.create-btn:active {
  @include mainBtnActive();
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}


