@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body {
  font-family: 'Bangers';
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../Assets/main-bg.jpeg');
  height: 100vh;
}
