.member-image {
  border-radius: 50%;
  height: 15%;
  width: 15%;
}

.team-container {
  text-shadow: 2px 2px black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

